@media (max-width:1024px){
    .about-banner-img{
        margin: 0 auto 60px;
    }
    .about-heading{
        font-size: 30px;
        line-height: 40px;

    }
    .about-vedio-icon{
        max-width: 100px;
    }
    .about-mission-img{
        margin: 0 auto 60px;
    }
    .about-mission-sec{
        padding-bottom: 60px;
    }
    .pharma-heading{
        text-align: start;
    }
    .drive-sucess-sec {
        padding: 60px 0px;
    }
    .about-cards{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .about-card-content{
        max-width: 100%;
    }
}
@media (max-width:768px){
    .about-banner-img{
        margin: 0 auto 25px;
    }
    .about-heading{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 16px;
    }
    .about-info{
        font-size: 12px;
        line-height: 18px;
    }
    .about-us-sec{
        padding: 30px 0;
    }
    .about-vedio-icon{
        max-width: 70px;
    }
    .about-mission-img{
        margin: 0 auto 25px;
    }
    .pharma-heading{
        font-size: 18px;
        line-height: 20px;
    }
    .pharma-sub-heading{
        font-size: 10px;
        line-height: 14px;
        max-width: 150px;
    }
    .pharma-info{
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 12px;
    }
    .about-mission-sec{
        padding-bottom: 30px;
    }
    .consultations-sec{
        padding: 29px 0px;
        background-position: center;
    }
    .consultations-heading{
        font-size: 20px;
        line-height: 20px;
        max-width: 276px;
    }
    .consultations-green-cta{
        font-size: 10px;
        line-height: 14px;
        padding: 10px 15px 10px 14px;
    }
    .consultations-cta-content{
        gap: 10px;
    }
    .or-text{
        font-size: 10px;
        line-height: 14px;

    }
    .drive-sucess-content{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .drive-sucess-info{
        text-align: center;
    }
    .drive-sucess-sec{
        padding: 25px 0px;
    }
    .about-cards{
        grid-template-columns: 1fr;
    }
    .about-card-content{
        padding: 20px 15px;
        
    }
    .about-card-heading{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .about-card-info{
        font-size: 14px;
        line-height: 18px;
    }
    .about-card-icon{
        max-width: 60px;
        width: 100%;
    }
}