.about-us-sec{
    padding: 50px 0;
}

.about-banner-img {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 102px;
}
.about-heading{   
    color: #1C1C1C;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
    margin-bottom: 22px;
}
.about-info{
    color: #545454;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    max-width: 740px;
    width: 100%;
    margin: 0 auto 35px;
    text-align: center;
}
.about-mission-img-content{
    position: relative;
}
.about-mission-img{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 109px;
    display: block;
}
.about-vedio-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    max-width: 153px;
    width: 100%;
}

.about-pharma-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.pharma-sub-heading{
    color: #1C1C1C;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 5.81px;
    text-transform: uppercase;
    border: 1px solid #CECECE;
    padding: 3px 7px;
    margin-bottom: 13px;
    max-width: 178px;
    width: 100%;
}
.about-mission-sec{
    padding-bottom:130px ;
}
.pharma-heading{
    max-width: 380px;
    width: 100%;
    margin-bottom: 15px;
    
}
.pharma-info{
    max-width: 443px;
    width: 100%;
    text-align: start;
    margin-bottom: 30px;
}
.pharma-info:last-child{
    margin-bottom: 0px;
}

.consultations-sec{
    background-image: url("/assets/images/consltunt-bg.png");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 138px 0px;
}
.consultations-heading{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
    max-width: 710px;
    width: 100%;
    margin: 0 auto 32px;
}
.consultations-cta-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   }
.consultations-green-cta{
    color: #1C1C1C;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    background-color: #0FE3AF;
    padding:17px 34px 17px 34px;
    display: inline-block;
    text-decoration: none;
}
.or-text{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.consultations-white-cta{
    background-color: #FFF;
}
.drive-sucess-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;  
    margin-bottom: 45px;
}
.drive-sucess-heading{
    text-align: left;
    max-width: 447px;
    width: 100%;
}
.drive-sucess-info{
    max-width: 536px;
    width: 100%;
    text-align: left;
}
.drive-sucess-sec{
    padding: 160px 0px;
}
.about-cards{
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.about-card-content{
    max-width: 264px;
    width: 100%;
    padding:40px 30px;
    border: 1px solid #E1E1E1;
}
.about-card-icon{
    max-width: 125px;
    width: 100%;
    margin: 0 auto 16px;
    display: block;
}
.about-card-heading{
    color: #1C1C1C;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 14px;
    text-align: center;
}
.about-card-info{
    color: #545454;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}