@media (max-width:1100px) {
    .banner_heading {
        font-size: 50px;
    }

    .btn_solid,
    .btn_border {
        font-size: 17px;
    }

    .hero_img {
        max-width: 400px;
        width: 100%;
    }

    .counters_wrapper {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .why_item {
        margin-bottom: 20px;
    }

    .req_content {
        gap: 30px;
    }

}

@media (max-width:991px) {
    .banner_heading {
        font-size: 45px;
    }

    .btn_solid,
    .btn_border {
        font-size: 16px;
        padding: 7px 15px;
    }

    .services_list {
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
    }

    .appointment_bg {
        min-height: 350px;
    }

    .why_wrapper {
        gap: 30px;
    }

    .why_img {
        max-width: 450px;
        max-width: 100%;
    }

    .req_content {
        padding: 35px;
    }


}

@media (max-width:768px) {
    .banner_sec {
        padding: 60px 0;
    }

    .banner_content {
        flex-direction: column;
        gap: 20px;
    }

    .banner_heading {
        font-size: 36px;
    }

    .banner_left {
        width: 100%;
        text-align: center;
    }

    .hero_img {
        width: 100%;
    }

    .banner_btns {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .banner_btn1,
    .banner_btn2 {
        width: 100%;
    }

    .counters_sec {
        margin-bottom: 60px;
    }

    .service_wrapper {
        margin-bottom: 30px;
    }

    .counters_item {
        width: 100%;
        text-align: center;
    }

    .counter {
        font-size: 54px;
    }

    .sub_title {
        font-size: 14px;
    }

    .services_sec {
        padding: 60px 20px;
    }

    .services_list {
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        gap: 10px;
    }

    .service_item {
        padding: 20px;
    }

    .service_icon {
        margin-bottom: 12px;
        max-width: 60px;
        width: 100%;
    }

    .sec_title {
        font-size: 16px;
    }

    .sec_text {
        font-size: 14px;
    }

    .appointment_sec {
        margin-bottom: 60px;
    }

    .our_client {
        margin-bottom: 60px;
    }

    .our_client_top {
        margin-bottom: 30px;
    }

    .appointment_bg {
        min-height: 290px;
    }

    .appointment_content {
        padding: 15px;
    }

    .appointment_heading {
        font-size: 36px;
        margin-bottom: 16px;
        line-height: 95%;
    }

    .slider_card {
        padding: 20px;
    }

    .slider_card-top {
        justify-content: space-between;
        margin-bottom: 24px;
    }

    .client_profile {
        gap: 12px;
    }

    .client_profile img {
        width: 40px;
        height: 40px;
    }

    .client_name {
        font-size: 16px;
    }

    .stars {
        gap: 5px;
    }

    .stars>svg {
        width: 16px;
        height: 16px;
    }

    .client_review {
        font-size: 14px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 24px !important;
    }

    .why_sec {
        margin-bottom: 60px;
    }

    .why_wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .why_list {
        max-width: 100%;
    }

    .why_img {
        max-width: 100%;
    }

    .request_sec {
        margin-bottom: 60px;
    }

    .req_content {
        flex-direction: column;
    }


    .req_imgs {
        padding-left: 30px;
    }

    .req_heading {
        font-size: 34px;
        line-height: 40px;
    }

    .req_text {
        margin-bottom: 30px;
    }

    .req_input {
        padding: 8px 24px;
        margin-bottom: 24px;
    }

}


@media(max-width:525px) {
    .services_list {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }

    .service_item {
        max-width: 100%;
    }

    .appointment_bg {
        min-height: 250px;
    }

    .appointment_content {
        max-width: 100%;
    }
}


